.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  padding: 10px 20px;
  font-size: calc(10px + 1vmin);
  font-weight: bold;
  color: white;
  background: #538E6D;
  border: 2px solid #538E6D;
  border-radius: 3px;
  cursor: pointer;
}

.button:hover {
  background: #4a7f62;
}

.button:active {
  background: #427157;
}

.message {
  transition: all 300ms ease-out;
}

.message.processing {
  transform: scale(1.1);
}

.message.default {
  color: lightgray;
}

.message.success {
  color: lightgreen;
}

.message.failure {
  color: lightcoral;
}